#В этом объекте мы храним конфигурационные файлы ClickHouse (например, настройки сервера и пользователей).
#Это позволяет нам не встраивать конфигурацию в образ контейнера, а подключать ее отдельно.

apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-config
  namespace: clickhouse
data:
  # Основной конфигурационный файл ClickHouse
  01-clickhouse-config.xml: |
    <?xml version="1.0"?>
    <yandex>
      <logger>
        <level>information</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
      </logger>
      
      <http_port>8123</http_port>
      <tcp_port>9000</tcp_port>
      <mysql_port>9004</mysql_port>
      <postgresql_port>9005</postgresql_port>
      <interserver_http_port>9009</interserver_http_port>
      
      <listen_host>0.0.0.0</listen_host>
      
      <max_connections>4096</max_connections>
      <keep_alive_timeout>3</keep_alive_timeout>
      <max_concurrent_queries>100</max_concurrent_queries>
      <uncompressed_cache_size>8589934592</uncompressed_cache_size>
      <mark_cache_size>5368709120</mark_cache_size>
      
      <path>/var/lib/clickhouse/</path>
      <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
      <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
      
      <users_config>users.xml</users_config>
      <default_profile>default</default_profile>
      <default_database>default</default_database>
      
      <timezone>UTC</timezone>
      
      <query_log>
        <database>system</database>
        <table>query_log</table>
        <partition_by>toYYYYMM(event_date)</partition_by>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
      </query_log>
    </yandex>
  
  # Конфигурация пользователей (без паролей)
  02-clickhouse-users.xml: |
    <?xml version="1.0"?>
    <yandex>
      <profiles>
        <default>
          <max_memory_usage>10000000000</max_memory_usage>
          <use_uncompressed_cache>0</use_uncompressed_cache>
          <load_balancing>in_order</load_balancing>
          <readonly>0</readonly>
        </default>
        <readonly>
          <readonly>1</readonly>
        </readonly>
      </profiles>
      
      <quotas>
        <default>
          <interval>
            <duration>3600</duration>
            <queries>0</queries>
            <errors>0</errors>
            <result_rows>0</result_rows>
            <read_rows>0</read_rows>
            <execution_time>0</execution_time>
          </interval>
        </default>
      </quotas>
      
      <users>
        <!-- Администраторский пользователь -->
        <admin>
          <password_sha256_hex>{{ .Values.users.admin.password_sha256 }}</password_sha256_hex>
          <networks>
            <ip>::/0</ip>
          </networks>
          <profile>default</profile>
          <quota>default</quota>
          <access_management>1</access_management>
        </admin>
        
        <!-- Пользователь для приложений -->
        <app_user>
          <password_sha256_hex>{{ .Values.users.app_user.password_sha256 }}</password_sha256_hex>
          <networks>
            <ip>::/0</ip>
          </networks>
          <profile>default</profile>
          <quota>default</quota>
        </app_user>
        
        <!-- Пользователь только для чтения -->
        <readonly_user>
          <password_sha256_hex>{{ .Values.users.readonly_user.password_sha256 }}</password_sha256_hex>
          <networks>
            <ip>::/0</ip>
          </networks>
          <profile>readonly</profile>
          <quota>default</quota>
        </readonly_user>
      </users>
    </yandex>